Firmware/.pioenvs
Firmware/.piolibdeps
Firmware/.vscode/*
Firmware/lib/*
Firmware/.travis.yml
Firmware/.pio/*


Developer/*

# temporary excludes
Library/*
*.dat
*.dpl
*.kicad_pcb
*.sch
fp-lib-table
jlcpcb/*
sym-lib-table
Firmware/src/PrivateConfig.h
*.code-workspace
Hardware/fp-info-cache
Hardware/Wavin-AHC-9000-mqtt-backups/*

